<?xml version="1.0" encoding="utf-8"?>
<daoConfig  xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <context id="SqlMapDao" default="true">
    <database>
      <provider name="sqlServer1.1"/>
      <dataSource name="DS" connectionString="Server=(local);Database=;User ID=;Password=" />
    </database>

    <daoSessionHandler id="SqlMap">
      <property name="resource" value="SqlMap.config"/>
    </daoSessionHandler>

    <daoFactory>
      <dao  interface="CoreNET.Common.UI.ILookupDao,CoreNET.Common.Lib"
	        implementation="CoreNET.Common.UI.LookupDao,CoreNET.Common.Lib"/>
      <dao  interface="CoreNET.Common.Base.IBaseDao,CoreNET.Common.Lib"
          implementation="CoreNET.Common.Base.BaseContextDao,CoreNET.Common.Lib"/>
      <dao  interface="CoreNET.Common.BO.ISysObjectsDao,CoreNET.Common.Lib"
          implementation="CoreNET.Common.BO.SysObjectsDao,CoreNET.Common.Lib"/>
      <dao  interface="CoreNET.Common.BO.IDbDao,CoreNET.Common.Lib"
          implementation="CoreNET.Common.BO.DbDao,CoreNET.Common.Lib"/>
    </daoFactory>
  </context>
</daoConfig>
