<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
    <!--<setting commandTimeout="123"/>-->
  </settings>
  
  <sqlMaps>
    
    <!--SYSTEM-->
    <sqlMap resource="App_Data/XML/System/SysObjects.xml"/>
    <sqlMap resource="App_Data/XML/System/Nextkey.xml"/>
    <sqlMap resource="App_Data/XML/System/Userdb.xml"/>
    <sqlMap resource="App_Data/XML/System/Webrole.xml"/>
    <sqlMap resource="App_Data/XML/System/Webotor.xml"/>
    <sqlMap resource="App_Data/XML/System/Webgroup.xml"/>

    <!--LOOKUP-->
    <sqlMap resource="App_Data/XML/Lookup/Lookup.xml"/>
    
    <!--UTILITY-->
    <sqlMap resource="App_Data/XML/Utility/Pemda.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Bulan.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Tahap.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Webuser.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Userskpd.xml"/>
		<sqlMap resource="App_Data/XML/Utility/Userkeg.xml"/>
		<sqlMap resource="App_Data/XML/Utility/Bendkeg.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Webset.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Webfitur.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Weberror.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Tahun.xml"/>

    <!--DATA MASTER-->
    <sqlMap resource="App_Data/XML/DataMaster/Setkegskpd.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Doksah.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Urusanunit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Daftunit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Mtgdunit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Struunit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Strurek.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Matangnrc.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangd.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangr.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangb.xml"/>

    <!--<sqlMap resource="App_Data/XML/DataMaster/Matangnrclra.xml"/>-->
    <sqlMap resource="App_Data/XML/DataMaster/Matangdlra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangdlra64.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangdlralo.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangrlra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangrlra64.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangrlralo.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangblra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangblra64.xml"/>

    <!--<sqlMap resource="App_Data/XML/DataMaster/Matangnrcppas.xml"/>-->
    <sqlMap resource="App_Data/XML/DataMaster/Matangdppas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangrppas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangbppas.xml"/>

    <!--<sqlMap resource="App_Data/XML/DataMaster/Matangnrclak.xml"/>-->
    <sqlMap resource="App_Data/XML/DataMaster/Matangdlak.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangrlak.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Matangblak.xml"/>

    
    
    <sqlMap resource="App_Data/XML/DataMaster/Mlkpsp2d.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Otokorolarir.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Otokorolarib.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jurtup.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Tupd.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Tupr.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Tupb.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Nrceliminasi.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Setdlra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setrlra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setblra.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setdlra64.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setrlra64.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setblra64.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setdlralo.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setrlralo.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setupdlo.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setuprlo.xml"/>
    
    <sqlMap resource="App_Data/XML/DataMaster/Setdlak.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setrlak.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setblak.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Mpgrm.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Stdharga.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Stdhargab.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Stdhargad.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Stdhargar.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Daskum.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Daskumd.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Daskumr.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Daskumb.xml"/>
    
    <sqlMap resource="App_Data/XML/DataMaster/Periode.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Profil.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Fungsi.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Zkode.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jkinkeg.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jpajak.xml"/>
		<sqlMap resource="App_Data/XML/DataMaster/Jperspektif.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jstandar.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Daftphk3.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jdana.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jkelola.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jakas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Atasbend.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Kpa.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Daftbank.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Bkbkas.xml"/>
		<sqlMap resource="App_Data/XML/DataMaster/Jbend.xml"/>
		<sqlMap resource="App_Data/XML/DataMaster/Jset.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Skbend.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Bend.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Bendkpa.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Golongan.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Pegawai.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/DaftDok.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jabttd.xml"/>

    <sqlMap resource="App_Data/XML/DataMaster/Ttapd.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Posnormal.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Stattrs.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jtrlnkas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jbkas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jbm.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jdsrsko.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Sifatkeg.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Mparkeg.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Mkegiatan.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Fungsinit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Nrcbend.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Ppk.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Pptk.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Persacc.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Khususrek.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Rekakas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Rekkeg.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Urusrtl.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Jprioritas.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Kelolaunit.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Priokeg.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setnrcmapping.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setum.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Setkdp.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Mappfk.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Mtgsbdana.xml"/>
    
    <!--PENGANGGARAN-->
		<sqlMap resource="App_Data/XML/Anggaran/Tahapsah.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Rkasah.xml"/>

    <sqlMap resource="App_Data/XML/Anggaran/Profilunit.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Pgrmunit.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Kegunit.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Kinkeg.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Kinnon.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Sbdanakeg.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Kaskeg.xml"/>

    <sqlMap resource="App_Data/XML/Anggaran/Raskd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskb.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Sbdanartl.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Sbdanar.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Sbdanab.xml"/>

    <sqlMap resource="App_Data/XML/Anggaran/Raskdetd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskdetrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskdetr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskdetb.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskblnd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskblnrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskblnr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Raskblnb.xml"/>

		<sqlMap resource="App_Data/XML/Anggaran/Skdask.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskb.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskdetd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskdetrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskdetr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskdetb.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskblnd.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskblnrtl.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskblnr.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Daskblnb.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Daskl.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Daskrl.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Daskdetrl.xml"/>

    <sqlMap resource="App_Data/XML/Anggaran/Sko.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Skoddet.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Skortldet.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Skordet.xml"/>
		<sqlMap resource="App_Data/XML/Anggaran/Skobdet.xml"/>

    <!-- PENATAUSAHAAN-->
    <sqlMap resource="App_Data/XML/Penatausahaan/Skp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skpdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skptbp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdetb.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdett.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpdettkeg.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Perictk.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bu.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Sts.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Rkmdett.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Rkmdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Rkmdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Rkmdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Rkmdetb.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Spp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetb.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetrdana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetrtldana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sppdetbdana.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Antarbyr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetb.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmpjk.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2b.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2bdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp3b.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp3bdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetrdana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetrtldana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmdetbdana.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Bpk.xml"/>
		<sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetr.xml"/>
		<sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetb.xml"/>
		<sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkpajak.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetrdana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkdetrtldana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spmidbilling.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkbank.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkbankdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Panjar.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Panjardet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkpajak.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkpajakdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkpajakspm.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Pjkps.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Bkusts.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkusp2d.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkutbp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkubank.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkupanjar.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkubpk.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkupajak.xml"/>
    
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2d.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetb.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2dpjk.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2dsalur.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2dsalurdet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2dntpn.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetrdana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetrtldana.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Sp2ddetbdana.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Dp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Dpdet.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Doklkp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Trsklp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Ujilkp.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Bkud.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bkuk.xml"/>
   
    <sqlMap resource="App_Data/XML/Penatausahaan/Pspj.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjdetd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjdetb.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjdetp.xml"/>

    <!--PELAPORAN-->
    <sqlMap resource="App_Data/XML/Pelaporan/Bktmem.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdet.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdetd.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdetr.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdetn.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Rbmdetb.xml"/>
    
    <sqlMap resource="App_Data/XML/Pelaporan/Bkrkk.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkrkkdet.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkrkm.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkrkmdet.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkspj.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkbm.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkspjdet.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Bkbmdet.xml"/>

    <sqlMap resource="App_Data/XML/Pelaporan/Saldoawal.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldodlalu.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoblalu.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldorlalu.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoakhir.xml"/>

    <sqlMap resource="App_Data/XML/Pelaporan/Salaruskasd.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Salaruskasr.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Salaruskasb.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Matangsal.xml"/>
    <!--<sqlMap resource="App_Data/XML/Pelaporan/Saldoapbd.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoapbdd.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoapbdr.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoapbdrtl.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldoapbdb.xml"/>-->
    
    <sqlMap resource="App_Data/XML/Pelaporan/Saldolrad.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldolrar.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldolrartl.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldolrab.xml"/>

    <sqlMap resource="App_Data/XML/Pelaporan/Saldodetd.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldodetr.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldodetrtl.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Saldodetb.xml"/>

    <sqlMap resource="App_Data/XML/Pelaporan/Calk.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Realisasi_inv.xml"/>
    
    <!--PLANNING-->
    <sqlMap resource="App_Data/XML/System/Eventlog.xml"/>
    <sqlMap resource="App_Data/XML/System/Jevent.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Dashutang.xml"/>

    <sqlMap resource="App_Data/XML/Penatausahaan/Nskup.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skppkd.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skppkddet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skppkdspp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkspj.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Spjspp.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Tbpsts.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Skpsts.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Jurnaldet.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Jurnaldetjur.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Kontrak.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Kontrakdetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Kontrakdetblnr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Berita.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Beritadetr.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Beritapot.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Adendum.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bubam.xml"/>
    <sqlMap resource="App_Data/XML/Penatausahaan/Bpkbu.xml"/>
    <!--<sqlMap resource="App_Data/XML/Penatausahaan/Beritadetbu.xml"/>-->

    <sqlMap resource="App_Data/XML/Pelaporan/Real_blud.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Int_penyusutan.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Integrasi_Piutang.xml"/>

    <sqlMap resource="App_Data/XML/Pelaporan/Laporsah.xml"/>
		<sqlMap resource="App_Data/XML/DataMaster/Jposting.xml"/>
    <sqlMap resource="App_Data/XML/Pelaporan/Tglposting.xml"/>
    <sqlMap resource="App_Data/XML/System/WeblkpControl.xml"/>
    <sqlMap resource="App_Data/XML/System/WebgridControl.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Kasb.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Kasd.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Kasrtl.xml"/>
    <sqlMap resource="App_Data/XML/DataMaster/Ttapdr.xml"/>
    <sqlMap resource="App_Data/XML/Anggaran/Daftunituk.xml"/>

    <sqlMap resource="App_Data/XML/Control/Rkajabar.xml"/>
    <sqlMap resource="App_Data/XML/Utility/Sikdpemda.xml"/>
   
  </sqlMaps>
</sqlMapConfig>




